body
{
    
    background: white;
    color:black;
    font-family: Helvetica Neue, Helvetica, Arial;
    margin: 0;
    padding: 13px;
}

/* Header */

header
{
   
    background-image: url("../images/cartoonHeader.jpg");
    background-size: 100%;
    background-position: center;
    font-size: 1px;
    height: 880px;
    padding: 50px 0 0 0;
    text-align: center;
}

header a
{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
}

header .mobile
{
    
    display: none;
}

header .logo
{
    height: 150px;
}

header .logo a
{
    background-image: url("../images/logo2.png");
    background-size: 200px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 170px;
    position: relative;
    text-indent: -999999999px;
    top: -45px;
    width: 200px;
}

nav ul
{
    height: 170px;
    position: fixed;
    padding: 0;
    list-style-type: none;
    margin-top: -20px;
    width: 100%;
}

nav li
{
    display: inline-block;
    margin-right: 20px; 
}

#navBox
{
   
    background-color: white;
    color: black;
    display: none;
    height: 370px;
    margin-left: -500px;
    margin-top: -330px;
    
}

#welcome
{
    
    color: rgb(222,24,53);
    font-family: arial;
    font-size: 30px;
    margin-top: 300px;
}

#wendyFont
{
    color: rgb(222,24,53);
    font-family: arial;
}

#line
{
    background-color: white;
    background-position: center;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    width: 330px;
}

#aboutUs
{
    border: 0;
    border-radius: 5px;
    color: rgb(222,24,53);
    font-size: 45px;
}

#aboutUs:hover
{
    background-color:rgb(222,24,53);
    color: white;
}

.scrollFade
{
    opacity: 1;
}
/*nav li:hover
{
    background-color: white;
}*/

a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav a:hover
{
    color: rgb(222,24,53);
}

/* responsive rules */

@media screen and (max-width: 709px)
{
 

    header .mobile
    {
        display: inline-block;
        padding: 0 0 20px 0;
    }

    header .desktop
    {
        display: none;
    }

    nav ul
    {
        height: 210px;
    }

    header .logo a
    {
        background-size: 180px;
        left: 10%;
        width: 180px;
    }

    #navBox
    {
        height: 345px;
    }

    .feature-box.sales img:hover
    {
        display: inline-block;
        width: 220px;
        margin: -10px;
    }

}


/* Features */

.feature-box
{
    background: white;
    color:grey;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.feature-box.sales figure
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}

.feature-box.sales img
{
    border: 1px solid white;
    /*border-radius: 50%;*/
    box-shadow: grey 0px 0px 10px;
    width: 200px;
}

.caption
{
    margin-top: 20px;
}

.feature-box.closeouts div
{
    background:rgb(147, 216, 18);
}

.feature-box.sales img:hover
{
    width: 220px;
    margin: -10px;
}

.feature-box.sales div
{
    border: 3px solid rgb(222,24,53);
    display: none;
    height: 100px;
    margin: auto;
    margin: -10px;
    margin-top: 30px;
    padding: 5px;
    text-align: center;
    text-transform: lowercase;
    width: 207px;
}

.hide
{
    display: none;
}

li input
{
    display: none;
}

/*When in edit class span dissappears while input appears*/
li.edit span
{
    display: none;
}

li.edit input
{
    display: initial;
}

/*Panels*/

.tab-panels ul
{
    margin: 0;
    padding: 0;
}

.tab-panels ul li
{
    background-color: rgb(222,24,53);
    color: white;
    cursor: pointer;
    display: inline-block;
    list-style-type: none;
    margin:0;
    padding: 10px;
}

.tab-panels ul li.active
{
    background-color: rgb(182, 15, 40);
}

.tab-panels .panel
{
    background-color: rgb(204, 50, 73);
    display: none;
    height: 100px;
    margin: 0 0 13px 0;
    padding: 30px;
}

.tab-panels .panel.active
{
    display: block;
}

/*Image slider*/

#slider
{
    height: 400px;
    overflow: hidden;
    width: 720px;
}

#slider .slides
{
    display: block;
    height: 400px;
    margin: 0;
    padding: 0;
    width: 6000px;
}

#slider .slide
{
    float: left;
    height: 400px;
    list-style-type: none;
    width: 720px;
}

.slides img
{
    width: 720px;
}

@media screen and (min-width:640px) and (max-width:750px)
{
    header .mobile
    {
        display: inline-block;
        padding: 0 0 20px 0;
    }

    header .desktop
    {
        display: none;
    }

    header .logo a
    {
        height: 170px;
        left: 23%;
        width: 300px;
    }

    .feature-box.sales img.normalSize
    {
        width: 175px;
    }

    .feature-box.sales figure
    {
        width: 175px;
    }

    .feature-box.sales div
    {
        width: 182px;
        height: 100px;
    }

    .feature-box.sales img:hover
    {
        width: 195px;
        margin: -10px;
    }
}

@media screen and (min-width: 876px) and (max-width:1028px)
{
    .feature-box.sales img.normalSize
    {
        width: 235px;
    }

    .feature-box.sales figure
    {
        width: 235px;
    }

    .feature-box.sales div
    {
        width: 242px;
        height: 130px;
    }

    .feature-box.sales img:hover
    {
        width: 255px;
        margin: -10px;
    }
}

@media screen and (min-width: 1028px) and (max-width: 1200px)
{
    .feature-box.sales img.normalSize
    {
        width: 270px;
    }

    .feature-box.sales figure
    {
        width: 270px;
    }

    .feature-box.sales div
    {
        width: 277px;
        height: 146px;
    }

    .feature-box.sales img:hover
    {
        width: 290px;
        margin: -10px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px)
{
    .feature-box.sales img.normalSize
    {
        width: 300px;
    }

    .feature-box.sales figure
    {
        width: 300px;
    }

    .feature-box.sales div
    {
        width: 307px;
        height: 161px;
    }

    .feature-box.sales img:hover
    {
        width: 320px;
        margin: -10px;
    }
}

@media screen and (min-width: 1400px)
{

    .feature-box.sales img.normalSize
    {
        width: 375px;
    }

    .feature-box.sales figure
    {
        width: 375px;
    }

    .feature-box.sales div
    {
        width: 382px;
        height: 198px;
    }

    .feature-box.sales img:hover
    {
        width: 395px;
        margin: -10px;
    }
}

/* Footer */

footer
{
    background:black;
    color: grey;
    font-size: 12px;
    padding: 20px 20px;

    text-align: center;
}